.App{
  background-color: black;
  color: white;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.sideNavbar{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 5;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.textBoxContainer{
  text-align: center;
}

.textBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  padding: 1%;
  margin: 1% 0%;
}
.Link{
  text-decoration: none;
}
.paragraphText{
  width:50vw;
  word-wrap: break-word;
}

.image{
  width:30%;
  height:35vh;
  margin-top: 5%;
  margin-left: 5%;

}
